@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';
@import '~bootstrap-icons/font/bootstrap-icons';

*{
    font-family: 'Rozha One', serif;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bg-navbar {
    background-color: #b1a8a126;
    box-shadow: rgb(0 0 0 / 22%) 0 0 15px;
    top:0px;
    position:sticky;
    z-index:1000;
    
}

.buscador{
    position: relative;
}

.bi{
    position: absolute;
    right: 20px;
    top: 8px;
}

.affiliate{
    color: rgb(red, green, blue);
}

.affiliate:hover {
    transform: scale(1.1);
}

.form-control{
    
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 15px;
}

.titulo:hover{
    transform: scale(1.1);
    transition: .4s;
}

a:hover {
    background-color: gainsboro;
    
  }

.flag-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
  }

/* navbar */
.divWidth {
    width: 600px;
 }

 .createWidth {
    width: 100%;
 }

 .btn-create:hover {
    transform: scale(1.05);
 }

 /* colores de anuncios */
.VERY_UNLIKELY{
    color: greenyellow;
}

.UNLIKELY {
    color: green;
}

.POSSIBLE{
    color: orange;
}

.LIKELY{
    color: orangered;
}

.VERY_LIKELY{
    color: red;
}

.UNKNOWN{
    color: grey;
    
}
.scrollTop{
    position: fixed;
    z-index: 10;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    transition: .4s;
    visibility: hidden;
}

.show-scroll{
    visibility: visible;
    bottom: 1rem;
}

.titulo{
    opacity: 0;
    transition: .4s;
    
}

.animada{
    opacity: 0;
    transition: all 0.5s ease-in;
} 

.card:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 15px;
}

.card{
transition: 0.35s ease-in-out;
}

.card-img-top{
    width: 100%;
    height: 300px;
}

.animada{
    opacity: 0;
    transition: all 0.5s ease-in;
} 

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}