@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';
@import '~bootstrap-icons/font/bootstrap-icons';

/* navbar */
.divWidth {
    width: 600px;
 }

 /* colores de anuncios */
.VERY_UNLIKELY{
    color: greenyellow;
}

.UNLIKELY {
    color: green;
}

.POSSIBLE{
    color: orange;
}

.LIKELY{
    color: orangered;
}

.VERY_LIKELY{
    color: red;
}

.UNKNOWN{
    color: grey;
}
.scrollTop{
    position: fixed;
    z-index: 10;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    transition: .4s;
    visibility: hidden;
}

.show-scroll{
    visibility: visible;
    bottom: 1rem;
}

